# Challenge Set 9
## Part I: W3Schools SQL Lab 

*Introductory level SQL*

--

This challenge uses the [W3Schools SQL playground](http://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all). Please add solutions to this markdown file and submit.

1. Which customers are from the UK?

2. What is the name of the customer who has the most orders?

3. Which supplier has the highest average product price?

4. How many different countries are all the customers from? (*Hint:* consider [DISTINCT](http://www.w3schools.com/sql/sql_distinct.asp).)

5. What category appears in the most orders?

6. What was the total cost for each order?

7. Which employee made the most sales (by total price)?

8. Which employees have BS degrees? (*Hint:* look at the [LIKE](http://www.w3schools.com/sql/sql_like.asp) operator.)

9. Which supplier of three or more products has the highest average product price? (*Hint:* look at the [HAVING](http://www.w3schools.com/sql/sql_having.asp) operator.)

1. Which customers are from the UK?

In [ ]:
'''SQL
    SELECT 
        CustomerName 
    FROM 
        Customers
    WHERE 
        Country='UK';
'''

2. What is the name of the customer who has the most orders?

In [ ]:
# Answer: Ernst Handel

'''SQL
    SELECT 
        CustomerName, 
        COUNT(DISTINCT OrderID) AS OrderCount
    FROM 
        Customers
        JOIN Orders ON Orders.CustomerID = Customers.CustomerID
    GROUP BY 
        Customers.CustomerID
    ORDER BY 
        OrderCount DESC;
'''

3. Which supplier has the highest average product price?

In [ ]:
# Answer: Aux joyeux ecclÃ©siastiques

'''SQL
    SELECT
        SupplierName,
        AVG(Price) as AvgPrice
    FROM
        Suppliers
      JOIN
        Products
      ON 
        Suppliers.SupplierID = Products.SupplierID
    GROUP BY
        Suppliers.SupplierID
    ORDER BY
        AvgPrice DESC
    LIMIT 1;
'''

4. How many different countries are all the customers from? (*Hint:* consider [DISTINCT](http://www.w3schools.com/sql/sql_distinct.asp).)

In [ ]:
'''SQL
    SELECT
        COUNT(DISTINCT(Country)) AS CountryCount
    FROM
        Customers;
'''

5. What category appears in the most orders?

In [ ]:
'''SQL
    SELECT
        Categories.CategoryName, 
        COUNT(*) AS Count
    FROM
        OrderDetails
      JOIN
        Products
      JOIN
        Categories
      ON
          OrderDetails.ProductID = Products.ProductID
        AND
          Products.CategoryID = Categories.CategoryID
    GROUP BY
        Categories.CategoryID
    ORDER BY
        Count DESC
    LIMIT 1;
'''

6. What was the total cost for each order?

In [ ]:
'''SQL
    SELECT
        OrderDetails.OrderID,
        SUM(OrderDetails.Quantity * Products.Price) as Cost
    FROM
        OrderDetails
      JOIN
        Products
      ON
        OrderDetails.ProductID = Products.ProductID
    GROUP BY
        OrderDetails.OrderID
    ORDER BY
        Cost DESC;
'''

7. Which employee made the most sales (by total price)?

In [ ]:
'''SQL
    SELECT
        Employees.FirstName,
        Employees.LastName,
        SUM(OrderDetails.Quantity * Products.Price) as Cost
    FROM
        Employees
      JOIN
        Orders
      JOIN
        OrderDetails
      JOIN
        Products
      ON
          Employees.EmployeeID = Orders.EmployeeID
        AND
          Orders.OrderID = OrderDetails.OrderID
        AND
          OrderDetails.ProductID = Products.ProductID
    GROUP BY
        Employees.EmployeeID
    ORDER BY
        Cost DESC;
'''

8. Which employees have BS degrees? (*Hint:* look at the [LIKE](http://www.w3schools.com/sql/sql_like.asp) operator.)

In [ ]:
'''SQL
    SELECT
        *
    FROM 
        Employees 
    WHERE 
        Notes 
    LIKE 
        '% BS%';
'''

9. Which supplier of three or more products has the highest average product price? (*Hint:* look at the [HAVING](http://www.w3schools.com/sql/sql_having.asp) operator.)

In [ ]:
'''SQL
    SELECT
        SupplierName,
        COUNT(*) as NumProducts,
        AVG(Products.Price) as MeanPrice
    FROM
        Suppliers
      JOIN
        Products
      ON
        Suppliers.SupplierID = Products.SupplierID
    GROUP BY
        Suppliers.SupplierID
    HAVING
        NumProducts >= 3
    ORDER BY
        MeanPrice DESC;
'''